.App {
  text-align: center;
}


.App-header {
  background-color: #555a63;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.quote-box {
  background-color: rgb(183, 202, 209);
  height: 200px;
  width: 600px;
  border: 3px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
